
:root {
  --text-color: #757575;
  --title-color: #212121;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --background-black-color: #2f303a;
  --background-button-color: #f5f4fa;
  --activ-color: aqua;
  --address-footer-color: rgba(255, 255, 255, 0.6);
}

body {
  color: var(--text-color);
  background-color: var(--primary-white-color);

  font-family: Roboto, sans-serif;  
  font-size: 14px;
  line-height: 1.71;  
  letter-spacing: 0.03em;
}

/* reset */

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

/* Сброс маркерів списків */
.list {
  list-style: none;  
}

.conteiner {
  width: 1200px;
  padding: 0 15px;
}

/* Logo */
.logo {
  color: var(--title-color);

  font-family: Raleway, cursive;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
  
}

.logo:hover,
.logo:focus {
  color: var(--accent-color);
}

.logo-span {
  color: var(--accent-color);
}


/* site nav */
.site-nav {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.site-nav .link {
  color: var(--title-color);
  text-decoration: none;
}

.site-nav .link.current {
  color: var(--accent-color);
  
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

/* address link */
.address-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.address-link .link {
  color: var(--title-color);
  text-decoration: none;
}

.address-link .link:hover,
.address-link .link:focus {
  color: var(--accent-color);
}

/* hero */
.hero { 
  background-color: var(--background-black-color);
}

.hero-title {
  color: var(--primary-white-color);
  
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em; 
  text-transform: uppercase;
}

/* button */
.button {
  color: var(--title-color);
  background: var(--primary-white-color);
  cursor: pointer;
}

.hero .button {
  font-family: inherit;  
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;  
  letter-spacing: 0.06em;
}

.portfolio .button {
  min-width: 130px;
  min-height: 38px;
  left: 957px;
  top: 174px;
  
  font-family: inherit;    
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62px;

  text-align: center;
 
} 

.button.primary {
  color: var(--primary-white-color);
  background: var(--accent-color);
  cursor: pointer;
}

.button.primary:hover,
.button.primary:focus {
  color: var(--title-color);
  background: var(--background-button-color);
}

.button.primary:active {
  background-color: var(--activ-color);
}

.button.secondary {
  color: var(--title-color);
  background: var(--background-button-color);
  cursor: pointer;
}

.button.secondary:hover,
.button.secondary:focus {
  color: var(--primary-white-color);
  background: var(--accent-color);
}

.button.secondary:active {
  background-color: var(--activ-color);
  color: var(--title-color);
}

/* benefits*/
.benefits-title {
  color: var(--title-color);
  font-size: 14px;
  line-height: 1.14;  
  text-transform: uppercase;
}

/* work and our team */
.work-title,
.team-title {
  color: var(--title-color);  
  
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  
  
}

/* our team */
.team {
  background-color: var(--background-button-color);   
}

.team p {
  font-size: 16px;
  line-height: 1.19;
  text-align: center; 
}

.team-title {
  color: var(--title-color);
}

.teamer .teamer-title {
  color: var(--title-color);  
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;

}

/* footer */
.footer {
  background-color: var(--background-black-color);
}
/* footer logo */
.logo-footer {
  color: var(--primary-white-color);

  font-family: Raleway, cursive;  
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.logo-footer:hover,
.logo-footer:focus {
  color: var(--accent-color);
}

.logo-span {
  color: var(--accent-color);
}

/* footer address */
.address {
  color: var(--primary-white-color);
  font-style: normal;
}

.address-footer {
  color: var(--address-footer-color);
  text-decoration: none;
}

.address-footer:hover,
.address-footer:focus {
  color: var(--accent-color);
}

/* portfolio-choice */
.portfolio-choice .choise {
  color: var(--title-color);
}

.portfolio-choice .choise:hover,
.portfolio-choice .choise:focus {
  color: var(--accent-color);
}

/* portfolio-list */
.portfolio-list .portfolio-work {
  color: var(--title-color);
  font-size: 18px;
  line-height: 2;  
  letter-spacing: 0.06em;
}

.portfolio-list p {    
  font-size: 16px;
  line-height: 1.88;
}